<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Members Only App" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <%= render 'layouts/header' %>
          <%= render 'layouts/flash_messages' %>
          <div class="inner cover">
            <%= yield %>
          </div>
          <div class="mastfoot">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
